{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}{% endblock %}

{% block content %}

<p>At the end of the third round, your result will be calculated. You will receive your earnings or pay your losses.</p>

<p>You will move on to the next part; there you will make another round of decisions. The earnings in this part will be given in the form of a separate bonus.</p>

<p>After a short break, the group part of the game will begin with the same rules for calculating earnings.</p>

<p>If you wish to continue and participate in this game, please click continue.</p>

 {% next_button %}
{% endblock %}