{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Exit Survey
{% endblock %}

{% block content %}

<p>Please answer the following questions:</p>

<div class="form-group">
    {{ form.age.label }}
    {{ form.age }}
</div>

<div class="form-group">
    {{ form.gender.label }}
    {{ form.gender }}
</div>

<div class="form-group">
    {{ form.major.label }}
    {{ form.major }}
</div>

<div class="form-group">
    {{ form.speaking.label }}
    {{ form.speaking }}
</div>

<div class="form-group">
    {{ form.school_year.label }}
    {{ form.school_year }}
</div>

<div class="form-group">
    {{ form.GPA.label }}
    {{ form.GPA }}
</div>

<div class="form-group">
    {{ form.smoker.label }}
    {{ form.smoker }}
</div>

<div class="form-group">
    {{ form.alcohol.label }}
    {{ form.alcohol }}
</div>

<div class="form-group">
    {{ form.drugs.label }}
    {{ form.drugs }}
</div>

<div class="form-group">
    {{ form.spending.label }}
    {{ form.spending }}
</div>

<div class="form-group">
    {{ form.crt_Linda.label }}
    {{ form.crt_Linda }}
</div>

<div class="form-group">
    {{ form.ROCL.label }}
    {{ form.ROCL }}
</div>

<div class="form-group">
    {{ form.crt_bat.label }}
    {{ form.crt_bat }}
</div>

<div class="form-group">
    {{ form.crt_widget.label }}
    {{ form.crt_widget }}
</div>

<div class="form-group">
    {{ form.crt_lake.label }}
    {{ form.crt_lake }}
</div>

<div class="form-group">
    {{ form.crt_double.label }}
    {{ form.crt_double }}
</div>

<div class="form-group">
    {{ form.fin_change.label }}
    {{ form.fin_change }}
</div>

<div class="form-group">
    {{ form.fin_lottery.label }}
    {{ form.fin_lottery }}
</div>

<div class="form-group">
    {{ form.fin_sale.label }}
    {{ form.fin_sale }}
</div>

<div class="form-group">
    {{ form.fin_disease.label }}
    {{ form.fin_disease }}
</div>

<div class="form-group">
    {{ form.fin_cardealer.label }}
    {{ form.fin_cardealer }}
</div>

<div class="form-group">
    {{ form.fin_interest.label }}
    {{ form.fin_interest }}
</div>

<div class="form-group">
    {{ form.Matrix_B06.label }}
    {{ form.Matrix_B06 }}
</div>

<div class="form-group">
    {{ form.Matrix_B09.label }}
    {{ form.Matrix_B09 }}
</div>

<div class="form-group">
    {{ form.Matrix_B11.label }}
    {{ form.Matrix_B11 }}
</div>

<div class="form-group">
    {{ form.Matrix_C02.label }}
    {{ form.Matrix_C02 }}
</div>

<div class="form-group">
    {{ form.Matrix_C05.label }}
    {{ form.Matrix_C05 }}
</div>

<div class="form-group">
    {{ form.Matrix_C12.label }}
    {{ form.Matrix_C12 }}
</div>

<div class="form-group">
    {{ form.Matrix_D05.label }}
    {{ form.Matrix_D05 }}
</div>

<div class="form-group">
    {{ form.Matrix_D07.label }}
    {{ form.Matrix_D07 }}
</div>

<div class="form-group">
    {{ form.Matrix_E07.label }}
    {{ form.Matrix_E07 }}
</div>

<div class="form-group">
    {{ form.r_general.label }}
    {{ form.r_general }}
</div>

<div class="form-group">
    {{ form.r_driving.label }}
    {{ form.r_driving }}
</div>

<div class="form-group">
    {{ form.r_career.label }}
    {{ form.r_career }}
</div>

<div class="form-group">
    {{ form.r_health.label }}
    {{ form.r_health }}
</div>

<div class="form-group">
    {{ form.monty_hall.label }}
    {{ form.monty_hall }}
</div>

{% next_button %}

{% endblock %}