{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_filters %}

{% block title %}
   Individual Round {{ round_number }} of {{ total_rounds }}
{% endblock %}

{% block content %}
<p>You decided to invest: <span style="color: blue; font-weight: bold;" id="investment">{{ investment }}</span></p>
<p>Your success number is: <span style="color: blue; font-weight: bold;">{{ success_number }}</span></p>
<p>You got: <span style="color: {% if success %}green{% else %}red{% endif %}; font-weight: bold;">{{ dice_roll }}</span></p>

<hr style="border-top: 1px solid #ccc; margin: 20px 0;">
{% if success %}
    <p>Investment result: <span style="color: green; font-weight: bold;">Success</span></p>
{% else %}
    <p>Investment result: <span style="color: red; font-weight: bold;">Failure</span></p>
{% endif %}

<hr style="border-top: 1px solid #ccc; margin: 20px 0;">

<p>Your earnings for this round: <span style="color: {% if success %}green{% else %}red{% endif %}; font-weight: bold;" id="earnings">{{ earnings }}</span></p>

    {% next_button %}
 <script>
       document.addEventListener('DOMContentLoaded', function() {
    var investmentElement = document.getElementById('investment');
    var earningsElement = document.getElementById('earnings');

    investmentElement.textContent = '$' + investmentElement.textContent;
    earningsElement.textContent = '$' + earningsElement.textContent;
});
    </script>
{% endblock %}